.titulo-principal {
    padding: 20px;
}

#banner {
    width: 100%;
}
.principal{
    background-color: #CCCCCC;
    padding: 30px;
}
p {
    text-align: center;
 }
 #missao {
    font-size: 20px;
 }
em strong {
    color: red;
}
.itens{
font-style: italic;
}
.beneficios{
    background-color: #FFFFFF;
    padding: 20px;
}
.titulo-centralizado{
    text-align: center;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imgbeneficios{
    width: 50%;
}